name: Build and Release Windows App

on:
  release:
    types:
      - published

jobs:
  build_and_release:
    runs-on: windows-latest

    strategy:
      matrix:
        arch:
          - amd64
          - arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend dependencies
        working-directory: .\frontend
        run: npm install

      - name: Build
        run: |
          wails build -platform windows/${{ matrix.arch }}

      - name: Rename executable
        run: |
          $APP_NAME="ComfyGUI Manager"
          $ARCH_NAME="${{ matrix.arch }}"
          $TAG="${{ github.ref_name }}"
          $EXE_NAME="${APP_NAME}_v${TAG}_${ARCH_NAME}.exe"
          echo "EXE_NAME=${EXE_NAME}" >> $GITHUB_ENV
          Rename-Item "build\bin\ComfyGUI Manager.exe" "$EXE_NAME"

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.EXE_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}